# n8n data (tuyệt đối không commit lên GitHub)
automation/n8n/n8n_data/

# Secrets
*.env
**/*.env
.env
.env.local

# Node modules (nếu có backend)
node_modules/

# Python cache (nếu bạn có AI service)
__pycache__/
*.pyc

# Docker local data
*.pid
docker-data/

